.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  img {
    width: 100%;
  }
}

.tags {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 11px;
  margin-top: 10px;
}

.imageContainer {
  position: relative;

  &:hover {
    .editContainer {
      display: flex;
    }
  }
}

.editContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.nameAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trashButton {
  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #cccccc3b !important;
  }
}
