.card {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  width: 100%;

  h2 {
    margin-top: 5px;
  }
}

.actionButtons {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
}
