.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addColorContainer {
  position: relative;
}

.colorPickerContainer {
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 0;
}
.groupsTrigger {
  display: flex;
  align-items: center;
  gap: 5px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  margin: 10px 0;
}

.color {
  height: 50px;
  margin-top: 10px;
}

.inputContainers {
  width: 100%;
  margin-top: 20px;
  input {
    width: 100%;
  }

  textarea {
    margin-top: 10px;
  }
}

.tags {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
}

.tag {
  display: flex;
  align-items: center;

  button {
    margin-left: 10px;
  }
}

.removeTagButton {
  width: fit-content;
  height: fit-content !important;
  padding: 0 !important;

  &:hover {
    background-color: var(--foreground) !important;
  }
}

.card {
  max-width: 800px;
  width: 100%;

  button {
    margin-top: 10px;
  }
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 10px;
}
